[submodule "vendors/connect-auth"]
	path = vendors/connect-auth
	url = http://github.com/ciaranj/connect-auth.git
[submodule "vendors/node-validator"]
	path = vendors/node-validator
	url = https://github.com/chriso/node-validator.git
[submodule "vendors/cookie-node"]
	path = vendors/cookie-node
	url = https://github.com/jaekwon/cookie-node.git
